services:

  app:
    build: .
    restart: always
    env_file:
      - .env

    depends_on:
      - postgres

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/relaxmap_db
      SPRING_DATASOURCE_USERNAME: ${DB_USER:-postgres}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD:-postgres}

    ports:
      - '${SPRING_PORT:-8080}:8080'

    networks:
      app:

  postgres:
    image: postgres:18
    restart: always
    env_file:
      - .env

    environment:
      POSTGRES_DB: relaxmap_db
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}

    ports:
      - '${DB_PORT:-5432}:5432'

    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql

    networks:
      app:

volumes:
  postgres_data:

networks:
  app:
    driver: 'bridge'